.task-details{
  height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
  > div{
    background: #ffffff;
    padding: 30px;
    border-radius: 5px;
    color: #4e708d;
  }
}
